---
title: Westmoreland OSS - Events
---

%header= partial "header"

%section.events
  %h3.title Sept 24th 2015: Modern Web Development with Middleman and Sass
  %p
    Have you ever wanted to use modern technologies like SASS, HAML, and CoffeeScript but are struggling with the cost of bootstrapping all of these technologies? Enter Middleman a static-site generator that employs many of the techniques that makes the Ruby on Rails MVC framework so popular.
  %p
    The structure will be an initial lecture/presentation to familiarize you with some of the terminology in the middleman documentation. Followed by a learning circle with a pre-prepared project to help you get your feet wet with Middleman. A learning circle is where we will work with each other to build the sample project or your own project. There will be no defined proctor if you learn something you can share it openly. There will be experts present so you shouldn't have to worry about getting stuck.

  %h5 Here is what you need to bring with you:

  %ul.list
    %li Laptop with Ruby installed
    %li Your smiling face and open mind
    %li (Optional) A simple website idea

  %p
    To register for this event please
    %a{href:"https://www.facebook.com/groups/westmorelandoss/"}join WOSS

  %h5 Agenda:

  %ul
    %li 5:00pm - I will arrive to get setup. If you are having issues with the Ruby install please feel free to arrive at 5 as well and I will help.
    %li 5:30pm - Meet and greet so I can give you some info about the evenings format and we can discuss future objectives.
    %li 6:00pm - Start of meeting with a lecture on Middleman And SASS
    %li 7:00pm - Learning Circle breakout - we will work independently and as groups to build a sample site with Middleman and SASS to get comfortable with the technology and learn how to plan a website.
