---
title: Westmoreland OSS - Events
priority: 1.0
change_frequency: weekly
---

%header= partial "header"

%section.events
  %h2 Upcoming Events
  #i-just-want-to-git-to-know-you
    %h3.title
      %a{href:'/events.html#data-viz-dave-columbus'}Oct 6th 2015: I just want to "Git" to know you
    %p Teaching Git is hard! (almost as hard as it is to learn)

    %p Git is a big deal and I want you all to learn it too. Deep down I think Git is pretty easy if you see it as a pattern of buttons to click in order. But it can get messy fast when you are working with others.

    %p My goal is not to teach you how to fix all the kinds of conflicts that you can generate with Git. I will show you the best practices when working with Git so you can avoid most of them.

    %h5 We will cover:
    %ul.list
      %li Repositories and their histories
      %li Why you should trust Git
      %li Branching and Merging
      %li Collaborating and Merging conflicts (with tools that make life easier)
      %li The mighty rebase (Love it and Fear it)

    %p
      To register for this event please
      %a{href:"https://www.facebook.com/groups/westmorelandoss/"}join WOSS

    %h5 Agenda:
    %ul
      %li 6:00pm - Install Party for Git and Lightning talks
      %li 7:00pm - Presentation on git and time to work on examples
      %li 9:00pm - Questions discussion
  %br
  #data-viz-dave-columbus
    %h3.title
      %a{href:'/events.html#data-viz-dave-columbus'}Oct 15th 2015: Data Visualizations with Dave Columbus
    %p
      Dave Columbus will take us on an adventure of graphic proportions. He has spent years collecting and organizing data about pop culture and creating visual arts. His visualizations express truths and debunk common myths about our favorite television shows and movies.

    %p Dave will give us a survey of how data visualizations are constructed and the many different ways data can be displayed. This will cover generating static non-interactive works and his current exploration of dynamic interactive visualizations.

    %p It is going to be great fun. The format will be a presentation and then QA / group driven discussion.

    %p
      Dave on the Web
      %a{href:'http://dave-columbus.squarespace.com'} http://dave-columbus.squarespace.com
    %p
      Dave on Twitter
      %a{href:"https://twitter.com/pearvert"}@pearvert


    %h5 Here is what you need to bring with you:
    %ul.list
      %li Your smiling face and open mind

    %p
      To register for this event please
      %a{href:"https://www.facebook.com/groups/westmorelandoss/"}join WOSS

    %h5 Agenda:
    %ul
      %li 6:00pm - Dave Columbus Presentation
      %li 7:00pm - QA \ Group Discussion about Data Visualization
  %br
  #dynamic-websites-w-sinatra
    %h3.title
      %a{href:'/events.html#dynamic-websites-w-sinatra'}Oct 29th 2015: Dynamic Websites and Web Services with Ruby Sinatra
    %p
      Last time we learned how to build static websites with Ruby Middleman but what if we wanted to create web sites and services that could respond to the context of user requests. We will explore dynamic web pages and how to provide data to these page. How to react to data provided by the user and how the visualize the request response cycle between servers and browsers. This will open the door a little further towards learning some simple Ruby syntax and some of the core mechanics that more complicated frameworks like Ruby on Rails relies on.
    %p
      The structure will be an initial lecture/presentation to familiarize you with some of the terminology in the middleman documentation. Followed by a learning circle with a pre-prepared project to help you get your feet wet with Middleman. A learning circle is where we will work with each other to build the sample project or your own project. There will be no defined proctor if you learn something you can share it openly. There will be experts present so you shouldn't have to worry about getting stuck.

    %h5 Here is what you need to bring with you:
    %ul.list
      %li Laptop with Ruby installed
      %li Your smiling face and open mind
      %li (Optional) A simple web service idea

    %p
      To register for this event please
      %a{href:"https://www.facebook.com/groups/westmorelandoss/"}join WOSS

    %h5 Agenda: (TBD)

    // %ul
    //  %li 5:00pm - I will arrive to get setup. If you are having issues with the Ruby install please feel free to arrive at 5 as well and I will help.
    //  %li 5:30pm - Meet and greet so I can give you some info about the evenings format and we can discuss future objectives.
    //  %li 6:00pm - Start of meeting with a lecture on Middleman And SASS
    //  %li 7:00pm - Learning Circle breakout - we will work independently and as groups to build a sample site with Middleman and SASS to get comfortable with the technology and learn how to plan a website.

  %br
  %section.events.past
    %h2 Past Events
    #modern-web-w-middleman
    %h3.title
      %a{href:'/events.html#modern-web-w-middleman'}Sept 24th 2015: Modern Web Development with Middleman and Sass
    %p
      Have you ever wanted to use modern technologies like SASS, HAML, and CoffeeScript but are struggling with the cost of bootstrapping all of these technologies? Enter Middleman a static-site generator that employs many of the techniques that makes the Ruby on Rails MVC framework so popular.
    %p
      The structure will be an initial lecture/presentation to familiarize you with some of the terminology in the middleman documentation. Followed by a learning circle with a pre-prepared project to help you get your feet wet with Middleman. A learning circle is where we will work with each other to build the sample project or your own project. There will be no defined proctor if you learn something you can share it openly. There will be experts present so you shouldn't have to worry about getting stuck.

    %h5 Here is what you need to bring with you:
    %ul.list
      %li Laptop with Ruby installed
      %li Your smiling face and open mind
      %li (Optional) A simple website idea

    %p
      To register for this event please
      %a{href:"https://www.facebook.com/groups/westmorelandoss/"}join WOSS

    %h5 Agenda:

    %ul
      %li 5:00pm - I will arrive to get setup. If you are having issues with the Ruby install please feel free to arrive at 5 as well and I will help.
      %li 5:30pm - Meet and greet so I can give you some info about the evenings format and we can discuss future objectives.
      %li 6:00pm - Start of meeting with a lecture on Middleman And SASS
      %li 7:00pm - Learning Circle breakout - we will work independently and as groups to build a sample site with Middleman and SASS to get comfortable with the technology and learn how to plan a website.

    %h5.slides Slides
    %p
      %a{href: "http://westmorelandoss.com/be_the_middleman/"} Be The Middleman

    %h5.video Video
    %p
      :plain
        <iframe width="853" height="480" src="https://www.youtube.com/embed/VUnqp71Mpok?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
