---
title: Westmoreland OSS
---

%header= partial "header"

%section.about
  %h3.title Who we are
  %p
    We focus on software craftsmanship, building open source software and strengthening a community of developers through collaboration. Our goals for the group are two fold; Volunteering our skills to the needy and providing education to the beginner and the experienced.

%section.join-us
  %h3.title Join Us
  %p
    Our discussions usually start on facebook
    %a{href:"https://www.facebook.com/groups/westmorelandoss/"} Westmoreland Open Source Software on Facebook
    and continue in real life.
  %p
    We are currently looking for organizations that need our help. If you would like to be considered please contact me on Twitter at
    %a{href:"https://twitter.com/paulscoder"}@PaulSCoder
