---
title: Westmoreland OSS
---

%header= partial "header"

%section.about
  %h3.title Who we are
  %p
    WOSS is the spiritual successor of Westmoreland Open Hack. We focus on software craftsmanship, building open source software and strengthening a community of developers through collaboration. My goals for the group are two fold; Volunteering our skills to the needy and providing education to the beginner and the experienced.

%section.join-us
  %h3.title Join Us
  %p
    Our discussions usually start on facebook
    %a{href:"https://www.facebook.com/groups/westmorelandoss/"} Westmoreland Open Source Software on Facebook
    and continue in real life.
  %p
    We are currently identifying organizations we can volunteer our skills to support. If you would like to be considered please contact me on Twitter at @PaulSCoder
